---
import '@fontsource-variable/cabin';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getThumbnail } from '../cloudinary';
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = 'Alessandro Blog',
  description = 'Blog di Alessandro',
  image = getThumbnail('Alessandro Blog'),
} = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />
    <meta property='og:image:alt' content={description} />
    <!-- Open Graph Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta propertry='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={image} />
    <meta property='twitter:image:alt' content={title} />
  </head>
  <body class='grid grid-rows-[auto,1fr,auto]'>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
