---
import type { CollectionEntry } from 'astro:content'
type Props = {
  post: CollectionEntry<"posts">
}

const { post } = Astro.props;
---
<article>
  <a href={`/blog/${post.slug}`}>
  <img src={post.data.image} alt={post.data.title} width={1024} height={1024/2} class="object-cover mb-6 shadow-xl rouded-2xl aspect-thumbnail">
  </a>
  <a href={`/blog/${post.slug}`} class="inline-block mb-4 text-4xl font-semibold text-zinc-900">
    <h2>{post.data.title}</h2>
  </a>
  <p class="text-2xl text-zinc-500 mb-9 line-clamp-2">
    {post.body}
  </p>
</article>
